<template>
  <v-dialog
      v-model="store.state.showAddScenarioDialog"
      class="add-scenario-dialog">
    <div class="add-scenario-dialog-container">
      <v-card class="add-scenario-dialog-content">
        <v-card-title class="text-h5 text">
          Add Scenario
        </v-card-title>

        <v-card-text class="card-body">
          <label for="name" class="text input-label">Name</label>
          <input type="text" id="name" class="text input-field" v-model="name" placeholder=" Scenario name"/>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              class="text button"
              @click="addScenario()"
          >Add Scenario</v-btn>
        </v-card-actions>
      </v-card>
    </div>
  </v-dialog>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import { useStore } from 'vuex';
import { key } from '@/store/datastore';
import { v4 as uuidv4 } from 'uuid';

@Options({
  name: 'add-scenario-dialog',
})
export default class AddScenarioDialog extends Vue {
  private store = useStore(key);
  private name = '';

  private addScenario() {
    this.store.state.scenarios.push({id: uuidv4(), title: this.name, items: []});
    this.name = '';
    this.store.state.showAddScenarioDialog = false;
  }
}
</script>

<style lang="scss" scoped>
.add-scenario-dialog {
  color: var(--main-text-colour);
}

.add-scenario-dialog-container {
  display: flex;
  justify-content: center;
}

.add-scenario-dialog-content {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  max-width: 90%;
  min-width: 85vw;
  border: 2px solid var(--main-text-colour);
  border-radius: 15px;
}

.card-body {
  display: flex;
  color: var(--main-text-colour);
  flex-direction: column;
}

.text {
  color: var(--main-text-colour);
}

.input-label {
  font-size: 1.2rem;
  padding-bottom: 5px;
}

.input-field {
  background-color: var(--main-input-colour);
  height: 2rem;
  font-size: 1.3rem;
}

.button {
  background-color: var(--main-button-colour);
  border-radius: 10px;
  border: 1px solid;
  margin-right: 10px;
}
</style>